*{
	margin: 0;
}

@font-face{
	font-family: "mario";
	src : url('fonts/SuperMarioBros-ov7d.ttf');
}

@font-face{
	font-family: "old";
	src : url('fonts/OldSchoolAdventures-42j9.ttf');
}

body{
	font-family: impact;
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
	padding: 20px;
	
	background-image: url('images/cloud.png');
	background-repeat:repeat-y;
	
}
	/*
	width: 100vw;
	position: absolute;
	z-index: -1;
	background-image: url('images/cloud.png');
	background-repeat:repeat-y;
	*/
ul{
	list-style: none;
	display: flex;
	padding-left: 0px;
}

li{
	padding: 2em;
}

li>a:hover{
	font-size: 1.1em;
	transition: 0.5s;
}

li>a{
	font-size: 1em;
	transition: 0.5s;
}

a{
	text-decoration: none;
	color: #000;
}

h1{
	font-size: 3em;
	font-family: "old";
}

.nav-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: old;

}

/* page cv */

.cv h1{
	padding-bottom: 1em;
}

#img-cv{
	border-color: black;
	border-radius: 3px;
	border-style: solid;
	background-color: #BAFCF7;
	padding: 1em 1em 1em 1em;
}

.cv{
	text-align:left;
	padding-left:12em;
	padding-right: 12em;
	line-height: 3em;
	font-family: "old";
	display: flex;
	flex-direction: column;

}

.profil{
	line-height: 2em;
}

#varia-images{
	display: flex;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;


}

.varia-img-container{
	height: 10vw;
	width: auto;
	padding-left: 2em;
	padding-top: 2em;
	opacity: 0.5;
	transition: 0.3s;
}

.varia-img-container:hover{
	opacity: 1;
	height: 11vw;
	width: auto;
	transition: 0.3s;
}

/* page contact */
.header-background-contact{
	text-align: center;
	background: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 30px;
}

.contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	margin-top:0;
	padding: 10em;
	background-image: url(images/mario-peach.png);
	background-color: #ffffff;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:right bottom;
	
}
input[type=text],[type=email],[type=tel], [type=date], select{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(248, 2, 2);
	border-radius: 100px;
	box-sizing: border-box;
}

.container-button {
	padding-top:10em;
	position: absolute;
	width: 100%;
	max-width: 100px;
}

.container-button img {
	width: 100%;
	height: auto;
	
}

.container-button .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #f1f1f1;
	color: black;
	font-family: "old";
	
	font-size: 16px;
	padding: 16px 30px;
	border: none;
	cursor: pointer;
	text-align: center;	
	border-radius: 50%;
}

.container-button .btn:hover {
	background-color: red;
	color: white;
}

.container-checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: rgb(201, 190, 190);
}

.container-checkbox:hover input ~ .checkmark {
	background-color: rgb(28, 31, 218);
}

.container-checkbox input:checked ~ .checkmark {
	background-color: #f32121;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
	display: block;
}

.container-checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* page super_pouvoirs */

.super_pouvoirs{
	display:flex;
	padding:20px;
	min-height: 100%;
	background-image: url('images/Mario_Cape_SMA.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
}

.leftSide{
	margin:10em;
	flex-direction: column;
	justify-content: center;
}
ul.power {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color:rgb(202, 39, 39);
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	display: flex;
	height: 100vh;
	font-size: 20px;

}
ul.power li {
	width:33.333333%; float:left;
	min-height:50px;
}
.leaf .tanooki .wingcap .bee .squirrel .kart{
	display: block;
}
.leaf:hover {
	background: url('images/120px-Smb3_super_leaf.png');
	background-repeat: no-repeat;
	background-position:center;
}
.leaf:hover .text{
	display:none;
}
.tanooki:hover {
	background: url('images/TanookiMarioStamp-SM3DW.png');
	background-repeat: no-repeat;
	background-position:center;
}
.tanooki:hover .text{
	display:none;
}
.wingcap:hover {
	background: url('images/200px-WingMarioSM64DS.png');
	background-repeat: no-repeat;
	background-position:center;
	background-size:50%;
}
.wingcap:hover .text{
	display:none;
}
.bee:hover {
	background: url('images/120px-Bee_Mario.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:50%;
}
.bee:hover .text{
	display:none;
}
.squirrel:hover {
	background: url('images/1200px-NSMBU_Flying_Squirrel_Mario_Artwork.png');
	background-repeat: no-repeat;
	background-position:center;
	background-size:40%;
}
.squirrel:hover .text{
	display:none;
}
.kart:hover {
	background: url('images/1200px-MarioGlider3DS.png');
	background-repeat: no-repeat;
	background-position:center;
	background-size:60%;
}
.kart:hover .text{
	display:none;
}

.bouton{
	color: white;
	text-shadow:-2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	width: auto;
	font-size: 1.5em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	background-image: url("images/brick.png");
	background-size: 2.2em;
	background-repeat: repeat-x;
	opacity: 0.85;
	transition-duration: 0.3s;
}

.bouton:hover{
	opacity: 1;
	transition-duration: 0.3s;
}

.bouton-container{
	margin-top: 5em;
	align-self: center;
}

/*footer*/

