*{
	margin: 0;
}

@font-face{
	font-family: "mario";
	src : url('fonts/SuperMarioBros-ov7d.ttf');
}

header{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body{
	font-family: impact;
}

ul{
	list-style: none;
	display: flex;
	padding-left: 0px;
}

li{
	padding: 2em;
}

li>a:hover{
	font-size: 1.1em;
	transition: 0.5s;
}


a{
	text-decoration: none;
	color: #000;
}

h1{
	font-size: 3em;
}

.nav-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;

}


	
.header-background{
	width: 100vw;
	height: 130vh;
	position: absolute;
	top: -200px;
	left: 0px;
	z-index: -1;
	opacity: 0.55;
	background-image: url('images/super-mario.gif');
	
}