navbar {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    font-weight: 400;
    font-family: Mont,sans-serif;
    background-color:white;
    width: 100%;  
    
    display:flex;
    justify-content: flex-start;
}
.nav-bar{
    display:flex;
    justify-content:flex-end;   

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    
 }
  li{
      margin-right: 2.5vw;
      margin-left: 2.5vw;
      margin-top: 5px;
  }
  li a {
      text-decoration: none;
      color:#7F7F7F;
      font-family: mont;
      font-weight: 400;
  }
  @font-face {
    font-family: mont;
    src: url(../font/Mont-Regular.woff2);
    font-weight: 400;
  }
  @font-face {
    font-family: mont;
    src: url(../font/Mont-Bold.woff2);
    font-weight: 700;
  }
  @font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Light.ttf);
    font-weight: 400;
    
  }
body {
    margin:0;
    padding:0;
    background: #f3f3f3;

}
main {
    background: #f3f3f3;
    width:100%;
    
}
.box {
    background: #3a70e0;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;    
    font-family: mont;
font-weight: 400;
font-size: 16px;
color: white;
display:flex;
border-radius: 10px;
padding-left: 5.73vw;
padding-right: 2.6vw;
padding-top: 3.13vw;
padding-bottom: 3.13vw;
    
}

.title-label {
   
text-transform: uppercase;
font-weight: 700;
background: #f46252;
color: #fff;
border-radius: 3px;
padding: 4px;
font-size: 12px;
line-height: 1em;
margin-bottom: 5px;
    
}

.large-title{
line-height: 1.15em;
font-size: 4.06vw;
line-height: 1.15em;
font-weight: 700;
width:611.484px;
height:178px;

}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 5em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.button-learn-more{    
display: inline-block;
    
}
.button:hover{
background-color: #696969;
cursor:pointer;
color:#ffffff;
    
}
.img-simulation{
width: 38vw;
}

.button{
font-weight: 400;
font-family: mont;
text-decoration:none;
min-width: 200px;   
font-size: 14px;
line-height: 1em;
color: #696969;
background: #fff;
padding: 20px 10px;
border-radius: 50px;
text-decoration:none;
box-sizing: border-box;
text-align:center;
display: inline-block;
    
}

.texte-box, .image-box{
width:50%;
display:inline-block;


}
.mainsection2 {

position: relative;
box-sizing: border-box;
padding-left: 18.75vw;
padding-right: 18.75vw;
padding-bottom: 7.81vw;
padding-top: 3vw;
font-size: 16px;
color: #000;
font-weight: 400;
font-family: Mont,sans-serif;
display:flex;
align-items:center;
justify-content:space-around;
}

.psection2 {
font-family: Montserrat,sans-serif;
color: #606060;
font-size: 15px;
line-height: 1.6;
font-weight: 500;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-family: Montserrat,sans-serif;


}

.h3-title {
display:block;
color: #606060;
font-size: 30px;    
padding-bottom: 35px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-family: montserrat,sans-serif;

    
}
.imgsection2 {
width: 100%;
display: inline-block;
box-shadow: 25px 25px 45px -22px rgba(0,0,0,.2);
    
}
.colonne{
position: relative;
box-sizing: border-box;
padding: 2.08vw 4.69vw;

}

.mainsection3{
font-family: mont,sans-serif;
color: #696969;
padding-left: 9.38vw;
padding-right: 9.38vw;    
position: relative;
box-sizing: border-box;
width: 100%;
}
h2{
font-weight: 700;
font-size: 2.86vw;
line-height: 1.15em;
color: #606060;
    
}

.bloc{
  display:flex;
  flex-direction:row; 
  justify-content: space-between;
   
    
}
.orangeun{
  text-shadow: -1px -1px 0 #f8b445, 1px -1px 0 #f8b445, -1px 1px 0 #f8b445, 1px 1px 0 #f8b445;
  font-size: 5.52vw;
  opacity: .7;
  line-height: 1em;
  font-weight: 700;
  display: inline-block;
  color: #fff;


}
/*
.blocorange{
   background-color: #ffffff;    
box-shadow: 2px -2px 5px -2px rgba(0,0,0,.15);
padding: 3.91vw 2.34vw;
height: 100%;
background: #fff;
border-radius: 5px;
text-align: center; 

}
*/
.verttrois{
text-shadow: -1px -1px 0 #42af49, 1px -1px 0 #42af49, -1px 1px 0 #42af49, 1px 1px 0 #42af49;
font-size: 5.52vw;
opacity: .7;
line-height: 1em;
font-weight: 700;
display: inline-block;
color: #fff;

}
/*
.blocvert{
background-color: #ffffff;
box-shadow: 2px -2px 5px -2px rgba(0,0,0,.15);
padding: 3.91vw 2.34vw;
height: 100%;
background: #fff;
border-radius: 5px;
text-align: center;
}
*/
.bleudeux{
text-shadow: -1px -1px 0 #3a70e0, 1px -1px 0 #3a70e0, -1px 1px 0 #3a70e0, 1px 1px 0 #3a70e0;
font-size: 5.52vw;
opacity: .7;
line-height: 1em;
font-weight: 700;
display: inline-block;
color: #fff;

}
/*
.blocbleu{
background-color: #ffffff;
box-shadow: 2px -2px 5px -2px rgba(0,0,0,.15);
padding: 3.91vw 2.34vw;    
height: 100%;
background: #fff;
border-radius: 5px;
text-align: center;
}
*/
.grislearnmore{    
    display: inline-block;
        
}

.buttonlearnmore:hover{
  background-color: #696969;
  cursor:pointer;
  color:#ffffff;
}

.blocs{
  background-color: #ffffff;    
  box-shadow: 2px -2px 5px -2px rgba(0,0,0,.15);
  padding: 3.91vw 2.34vw;
  color: grey;

  text-align: center;
  width: 18.5vw;
  height: 100%;
  background: #fff;
  border-radius: 5px;
}

.blocs p{
  text-align: left;
  font-size: 21px; 
  margin-top: 2.5vw;
  margin-block-end: 0em;
}

.intro-text{
  width: 66%;
}

#black-kanbanize{
  color: black;
}

.text-bleu{
  color: #3a70e0;
}

.text-vert{
  color: #42af49;
}

.text-orange{
  color: #f8b445;
}